<!DOCTYPE html>
<html lang="en-US">

<head>



    <!-- Required meta tags
==================================================-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="discrption" content="parallax one page" />
    <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />




    <!--  Title
===========================================-->
    <title>BIMUN 2.0</title>


    <!-- Font Google
===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="assets\img\favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets\img\favicon.ico" type="image/x-icon" />




    <!-- custom styles (optional) 
===================================================-->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />



</head>

<body class="hamburger-menu dsn-effect-scroll dsn-ajax" data-dsn-mousemove="true">

    <div class="preloader">
        <div class="preloader-after"></div>
        <div class="preloader-before"></div>
        <div class="preloader-block">
            <div class="title">BIMUN 2.0</div>
            <div class="percent">0</div>
            <div class="loading">loading...</div>
        </div>
        <div class="preloader-bar">
            <div class="preloader-progress"></div>
        </div>
    </div>




    <!-- Nav Bar 
============================================================-->
    <div class="dsn-nav-bar">
        <div class="site-header">
            <div class="extend-container">
                <div class="inner-header">
                    <div class="main-logo">
                        <a href="index.html">



                            <!-- logo & drop menu (plz add src for img after img class)
=================================================================-->
                            <img class="dark-logo" src="assets/img/logo/logo_b.png" alt="" />
                            <img class="light-logo" src="assets/img/logo/logo_w.png" alt="" />
                        </a>
                    </div>
                </div>
                <nav class=" accent-menu main-navigation">
                    <ul class="extend-container">
                        <li class="custom-drop-down">

                            <!--                            <a href="#">Home</a>-->
                            <ul>
                                <!--
                                <li><a href="one-page-3.html">BIMUN</a></li>
                                <li><a href="index.html">Message from Secretary General</a></li>
                                <li><a href="one-page-4.html">Programme of Activities</a></li>
                                <li><a href="one-page-5.html">Join Now</a></li>
                                <li><a href="one-page-6.html">Venue Map</a></li>  
-->
                            </ul>
                        </li>
                        <li class="custom-drop-down">
                            <a href="#">About BIMUN</a>
                            <ul>
                                <li><a href="slider.html">Our Legacy</a></li>
                                <li><a href="slider2.html">Vision</a></li>
                                <!--                                <li><a href="slider3.html">Newsroom</a></li>-->

                                <li><a href="slider5.html">Parent Body</a></li>
                            </ul>
                        </li>
                        <!--                        <li><a href="about.html">Meet the Team</a></li>-->
                        <li class="custom-drop-down">
                            <a href="#">Info</a>
                            <ul>
                                <li><a href="work.html">App Overview</a></li>
                                <li><a href="venue1.html">Venue</a></li>
                                <li><a href="finance.html">Financial Guide</a></li>
                                <li><a href="hotel.html">Travel,Hotel & Food</a></li>
                                <!--                                <li><a href="project-100.html">Payment Instruction</a></li>-->
                            </ul>
                        </li>
                        <li class="custom-drop-down">
                            <a href="drive.html">Donation Drive</a>
                            <ul>
                                <li><a href="drive.html">Donation Drive</a></li>
                            </ul>
                        </li>
                        <li class="custom-drop-down">
                            <!--
                            <a href="#">BIMUN 2.0</a>
                            <ul>
                                <li><a href="blog.html">Committee</a></li>
                                <li><a href="post.html">Allotment</a></li>
                                <li><a href="rop.html">Rules of Procedure</a></li>
                            </ul>
                        </li>
-->
                            <!--
                        <li class="custom-drop-down">
                            <a href="#">Partners & Sponsors</a>
                            <ul>
                                <li><a href="sponsors.html">Sponsors</a></li>
                                
                            </ul>
                        </li>
-->
                            <!--
                        <li class="custom-drop-down">
                            <a href="#">Terms & Condition</a>
                            <ul>
                                <li><a href="policies.html">Policies</a></li>
                                <li><a href="aap.html">Awards & Policies</a></li>
                            </ul>
                        </li>
-->
                            <!--                        <li><a href="contact.html">Contact Us</a></li>-->
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-top header-top-hamburger">
            <div class="header-container">
                <div class="logo main-logo">
                    <a href="index.html">
                        <img class="dark-logo" src="assets/img/logo/logo_b.png" alt="" />
                        <img class="light-logo" src="assets/img/logo/logo_w.png" alt="" />
                    </a>
                </div>

                <div class="menu-icon" data-dsn="parallax" data-dsn-move="5">
                    <div class="icon-m">
                        <i class="menu-icon-close fas fa-times"></i>
                        <span class="menu-icon__line menu-icon__line-left"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line menu-icon__line-right"></span>
                    </div>

                    <div class="text-menu">
                        <div class="text-button">Menu</div>
                        <div class="text-open">Open</div>
                        <div class="text-close">Close</div>
                    </div>
                </div>

                <div class="nav">
                    <div class="inner">
                        <div class="nav__content">

                        </div>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="inner-content">
                        <address class="v-middle">
                            
                            <!-- Adding adress
=========================================================-->
                            
                           
                            <span>Plot no 1140/2401/2838</span>
                            <span>Aerodrum Area,Lane-4,Bhubaneswar</span>
                            <span>Email id:bimun.19@gmail.com    P.no:+91 9777207809</span>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- End Nav Bar
====================================-->



    <main class="main-root">
        <div id="dsn-scrollbar">
            <header>
                <div class="container header-hero">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contenet-hero">
                                <h5>VENUE</h5>
                                <!--                                <h1>portfolio</h1>-->
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="wrapper">
                <div class="root-work">
                    <div class="container ">
                        <div class="box-title" data-dsn-title="cover">
                            <h2 class="title-cover" data-dsn-grid="move-section" data-dsn-move="-70">BIMUN</h2>
                        </div>

                        <div class="filterings">
                            <div class="filtering-wrap">
                                <div class="filtering">
                                    <div class="selector"></div>
                                    <button type="button" data-filter="*" class="active">
                                        All
                                    </button>

                                    <button type="button" data-filter=".architecture">Tourist Attractions</button>
                                    <button type="button" data-filter=".brand">Venue</button>
                                    <button type="button" data-filter=".photography">Host City</button>


                                </div>
                            </div>
                        </div>
                        <div class="projects-list gallery">
                            <div class="item architecture">
                                <div class="item-border"></div>
                                <div class="item-info">


                                    <p data-dsn-animate="up"><b><ul> Lingaraja temple</ul></b> was constructed by the King Ananga Bhimadeva III during 11th Century AD. The temple is located in the city of Bhubaneswar honor to Lord Shiva. It is the biggest temple in the city with
                                        a height of about 148 fts and its constructions (Kalinga architectural style) are very similar to Lord Jagannath temple in Puri. Bindu Sarovara (a large pond or lake) is situated by the north of the temple where
                                        thousands of devotes reach to take a holy bath. You can easily access this temple after reaching Lingaraj Temple Road Railway Station.</p>
                                    <p data-dsn-animate="up">
                                        <br>
                                        <b><ul>Udayagiri hill</ul></b> is famous as a Jain religious site of ancient history located about 6.5 km away from Bhubaneswar. It has 18 superb caves which were used to live ancient Jain communities from the rule
                                        of Kharavela. Some major caves among these are the Cave 1 (Rani Guha or Queen's Cave, most beautiful and biggest), Cave 2 (Chota Hathi Gumpha, or Small Elephant Cave, six architectural elephants flanking its entrance),
                                        Cave 5 (Jaya Vijaya Gumpha is notable for a Bodhi tree is carved in the central of it), Cave 12 (Bagh Gumpha or Tiger cave, its front carved into the shape of a tiger's mouth), Cave 14, Hathi Gumpha or Elephant
                                        Cave is a large natural cavern. You need a minimum entrance fees to visit this hill.
                                        <br> <br>
                                        <b><ul>Khandagiri Hill</ul></b> is another popular tourist destination near the Bhubaneswar City. It is located adjacent to the Udayagiri Hill and it also an example of Jain Culture during the ancient age. You will
                                        get here a perfect example of rock cut temples on the top of hill and 15 caves which were occupied by Jains. These caves were constructed by King Kharavela during 2nd century. Some major these are the Cave 1 and
                                        cave 2 (these also known as Tatowa Gumpha or Parrot Caves due to its parrots carved figures on the arches of their doorways), Cave 3 (Ananta Gumpha or Snake Cave, a figures of twin serpents on the door arches) and
                                        the Cave 7 (Navamuni Guha, where the figures of nine Jain Tirthankars carved on the back and right walls). There have no entry fees to visit here.
                                        <br> <br>
                                        <b><ul> Dhauli Giri </ul></b> or hill is situated about 7.8 km away from Bhubaneswar. This hill witnessed of the harsh bloody battle of Kalinga during 261 BC by Ashoka. After that battle Great Ashoka embraced Buddhism
                                        and became an ambassador of non violence and he established the Dhauli Hill as a Buddha settlement. The Shanti Stupa or peace pagoda is located at the right side of Dhauli hills just after crossing Daya River Bridge.
                                        Now it bears the symbols of Buddhism with the universal symbol of Lord Buddha, the sculpted elephant topping the rock edict. Bhubaneswar Railway Station is nearest to the Dhauli hill placed about 9.5 Km away.
                                        <br> <br>
                                        <b><ul>  Nandankanan Zoological Park </ul></b> was constructed by Odisha state government in 1960 but it was opened for public in 1979. It covers an area of 990 acres and a botanical garden, Chandaka forest, and
                                        a big lake named Kanjia Lake placed adjacent to the zoo. This zoological garden is about 16 km away from Cuttack, 3 km away from Barang railway station and 9 km from Bhubaneswar. The total number of animals in this
                                        zoo is 151, of which 49 species are mammals, 75 are birds, 36 species are fish and 27 are reptiles. Some of the most well known species of Nandankanan are crocodiles, pangolins, mouse deer, Sambars, panthers, blackbucks,
                                        hill mynas, civets, storks, etc.
                                        <br><br><br>
                                        <br> *Beside of these there have lots of famous Hindu temples to visit. Among these the Parashurameshwara and Rajarani Temple are two must see places in Bhubaneswar. Some other popular tourist destinations in and
                                        around the city are Ram Mandir, Bhubaneswar atemple, Isckon Temple, Yogini temple, Brahmeshwara Temple, Biju Patnaik Park, Pathani Samanta Planetarium, Mukteshwar Temple, Vaital Deul Temple, Bahirangeshwar Siva
                                        Temple, Asvathama Rock, Orissa State Museum, Handicrafts Museum, Tribal Museum, etc.</p>
                                </div>

                            </div>

                            <div class="item brand">
                                <div class="container intro-project section-margin">
                                    <h2 data-dsn-animate="text">Center for Youth and Social Development Bhubaneswar (CYSD)</h2>




                                    <section class="our-news section-margin" style="box-sizing: inherit">
                                        <div class="container">
                                            <div class="one-title" data-dsn-animate="up">
                                                <div class="title-sub-container">
                                                    <!--                                <p class="title-sub">Latest News</p>-->
                                                </div>
                                                <!--                            <h2 class="title-main">Latest and greatest post</h2>-->
                                            </div>
                                            <div class="custom-container">
                                                <div class="slick-slider">
                                                    <div class="item-new slick-slide">
                                                        <div class="image" data-overlay="1">
                                                            <img src="assets/img/venue/venue.jpg" alt="">
                                                        </div>
                                                        <div class="content">

                                                            <!--                                        <h5>Web , Brand</h5>-->

                                                            <div class="cta">
                                                                <!--                                            <a href="#">Digital Photography Tips</a>-->
                                                            </div>

                                                            <!--
                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>
-->

                                                        </div>
                                                    </div>

                                                    <div class="item-new slick-slide">
                                                        <div class="image" data-overlay="1">
                                                            <img src="assets/img/venue/v1.jpeg" alt="">
                                                        </div>
                                                        <div class="content">

                                                            <!--                                        <h5>Web , Brand</h5>-->

                                                            <div class="cta">
                                                                <!--                                            <a href="#">Digital Photography Tips</a>-->
                                                            </div>

                                                            <!--
                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>
-->

                                                        </div>
                                                    </div>

                                                    <div class="item-new slick-slide">
                                                        <div class="image" data-overlay="1">
                                                            <img src="assets/img/venue/v2.jpeg" alt="">
                                                        </div>
                                                        <div class="content">

                                                            <!--                                        <h5>Web , Brand</h5>-->

                                                            <div class="cta">
                                                                <!--                                            <a href="#">Digital Photography Tips</a>-->
                                                            </div>

                                                            <!--
                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>
-->

                                                        </div>
                                                    </div>
                                                    <div class="item-new slick-slide">
                                                        <div class="image" data-overlay="1">
                                                            <img src="assets/img/venue/v3.jpeg" alt="">
                                                        </div>
                                                        <div class="content">

                                                            <!--                                        <h5>Web , Brand</h5>-->

                                                            <div class="cta">
                                                                <!--                                            <a href="#">Digital Photography Tips</a>-->
                                                            </div>

                                                            <!--
                                        <p>Simple point-and-shoot digital cameras can give surprising quality when they
                                            have the right lenses and sensors.</p>
-->

                                                        </div>
                                                    </div>
                                                    <div class="item-new slick-slide">
                                                        <div class="image" data-overlay="1">
                                                            <img src="assets/img/venue/v4.jpeg" alt="">
                                                        </div>
                                                        <div class="content">



                                                            <div class="cta">

                                                            </div>



                                                        </div>
                                                    </div>
                                                    <div class="item-new slick-slide">
                                                        <div class="image" data-overlay="1">
                                                            <img src="assets/img/venue/v5.jpeg" alt="">
                                                        </div>
                                                        <div class="content">



                                                            <div class="cta">

                                                            </div>



                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </section>


                                    <p data-dsn-animate="up">CYSD (Centre for Youth and Social Development) is a non-government and non-profit organization established in 1982, working to improve the quality of lives of tribal, rural and urban poor in Odisha, with a primary focus
                                        to eradicate extreme poverty and hunger, ensuring social inclusion and justice, good governance and citizen’s right.</p>
                                    <p data-dsn-animate="up">
                                        <br> Helping communities identify and initiate development measures; providing training and other capacity-building support to pro-poor organizations and individuals; and carrying out research and advocacy in favour
                                        of the under privileged people especially the tribal. There vision is to archive a equitable society where women and men can freely realize their full potential, fulfill their rights and responsibilities and lead
                                        their life with dignity and self respect.
                                        <br> <br> There Mission is to enable marginalized women, men and children to improve their quality of life. To this end, CYSD uses issue based research to influence policies from a pro-poor and rights based perspective.
                                        It also works to ensure transparent, gender sensitive, accountable and democratic governance by building the capacities of people and organizations in participatory planning. Their Core values Transparency & Accountability
                                        Integrity Gender Equity Social Justice Participatory Action Peace & Harmony.
                                    </p>

                                </div>
                            </div>
                            <div class="item brand">
                                <a href="project-4.html" class="effect-ajax" data-dsn-ajax="work" data-dsn-grid="move-up">
                                </a>
                            </div>

                            <div class="item photography">
                                <h4>Bhubaneswar, The Capital City of Odisha</h4>
                                <p>Bhubaneswar the capital and largest city of the Indian state of Odisha. Along with the old town, the region historically was often depicted as Ekamra Kshetra (Temple City). With the diverse ranges of heritage resources,
                                    it showcases significant sacred cultural landscape components which have evolved with the support of available natural resource base and cultural trigger. Although the modern city of Bhubaneswar was formally established
                                    in 1948, the history of the areas in and around the present-day city can be traced to the 7th century BCE and earlier. It is a confluence of Hindu, Buddhism and Jain heritage and includes several Kalingan temples</p>
                                <br>
                                <h5>Weather in Bhubaneswar</h5>
                                <p> The climate of Bhubaneswar is very hot & humid in summer and dry & cool in winter. Normally the month from end of March to mid-June is summer season in the city when the temperature may reach up to 46°C. Sudden afternoon
                                    thunder storms are common during this season in Bhubaneswar. After the end of summer winter season enter to this city at the end of June and it continue till the end of September. The average annual rainfall of the
                                    city is 1540 mm. monsoon season is succeeded by winter. It usually persists from November to end of February when the minimum temperature may fall at 11°C. Winter season is the best season to visit in Bhubaneswar City.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="contact-up section-margin section-padding">
                    <div class="container">
                        <div class="c-wapp">
                            <a href="#" class="effect-ajax">
                                <span class="hiring">
                                  Want to apply?
                                </span>
                                <span class="career">
                                   Coming soon!
                                </span>
                            </a>
                        </div>
                    </div>
                </section>

            </div>
            <footer>
                <div class="info">
                    <div class="contact-footer">

                        <a href="#" class="email image-zoom" data-dsn="parallax">bimun@gmail.com</a>
                    </div>
                    <div class="copyright-social">
                        <p>©BIMUN</p>
                        <ul>
                            <li class="image-zoom" data-dsn="parallax"><a href="#" target="_blank">Instagram</a></li>
                            <li class="image-zoom" data-dsn="parallax"><a href="#" target="_blank">Facebook</a></li>

                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!-- Wait Loader -->
    <div class="wait-loader">
        <div class="loader-inner">
            <div class="loader-circle">
                <div class="loader-layer"></div>
            </div>
        </div>
    </div>
    <!-- // Wait Loader -->


    <!-- cursor -->
    <div class="cursor">

        <div class="cursor-helper cursor-view">
            <span>VIEW</span>
        </div>

        <div class="cursor-helper cursor-close">
            <span>Close</span>
        </div>

        <div class="cursor-helper cursor-link"></div>
    </div>
    <!-- End cursor -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>